<div class="container">
  <div class="widget-wrapper">
    <mat-card
      *ngFor="let randomCountry of randomCountries"
      class="mat-card"
      appearance="outlined">
      <mat-card-header class="mat-header">
        <mat-card-title>
          <button (click)="navigate(randomCountry)">
            {{ randomCountry }}
          </button></mat-card-title
        ></mat-card-header
      >
      <div class="table-wrapper">
        <table>
          <tr
            *ngFor="let holiday of randomCountriesNextHolidays[randomCountry]">
            <td class="date">{{ holiday.date | date: 'MMMM d, y' }}</td>
            <td class="name">
              <b>{{ holiday.name }}</b>
            </td>
          </tr>
        </table>
      </div>
    </mat-card>
  </div>

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="searchQuery"
      (ngModelChange)="changeQuery($event)" />
  </mat-form-field>
  <mat-nav-list>
    <a
      *ngFor="let country of countriesFiltered"
      mat-list-item
      [routerLink]="['/countries/' + country.countryCode]"
      [queryParams]="{ countryName: country.name, id: country.countryCode }"
      >{{ country.name }}</a
    >
  </mat-nav-list>
  <div *ngIf="!countriesFiltered.length">No countries</div>
</div>
